{% extends 'loginapp/base.html' %}

{% block content %}
<div class="container">
<h1>SIGN UP PAGE</h1>

<form action="{% url 'signup' %}" method="post" class="row p-3 g-3 align-items-center">
  {% csrf_token %}

  <div class="col-8">
    <div class="input-group">
      <div class="input-group-text">First Name</div>
      <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
    </div>
  </div> 
  <div class="col-8">
    <div class="input-group">
      <div class="input-group-text">Last Name</div>
      <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required>
    </div>
  </div>
  <div class="col-8">
    <div class="input-group">
      <div class="input-group-text">Username</div>
      <input type="text" class="form-control" id="username" name="username" placeholder="User Name" required>
    </div>
  </div>
  <div class="col-8">
    <div class="input-group">
      <div class="input-group-text">Email Address</div>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
    </div>
  </div>
  <div class="col-8">
    <div class="input-group">
      <div class="input-group-text">Passwprd</div>
      <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Passwprd" required>
    </div>
  </div>
  <div class="col-8">
    <div class="input-group">
      <div class="input-group-text">Confirm Passwprd</div>
      <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Passwprd" required>
    </div>
  </div>

  <div class="col-8">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
  
</form>

</div>
{% endblock %}
